<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../bower_components/core-dropdown/core-dropdown.html">
<link rel="import" href="../bower_components/core-menu/core-menu.html">
<link rel="import" href="../bower_components/core-item/core-item.html">

<polymer-element name="x-trigger" extends="core-menu-button" relative on-tap="{{toggle}}">
	<script>
		Polymer({
			toggle: function() {
				if (!this.dropdown) {
					this.dropdown = this.querySelector('core-dropdown');
				}
				this.dropdown && this.dropdown.toggle();
			}
		});
	</script>
</polymer-element>

<polymer-element name="cl-username-dropdown">

	<template>
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

		<x-trigger>
			{{userName}} <span class="caret"></span>
		    <core-dropdown class="open-below">
				<core-item>Cut</core-item>
				<core-item>Copy</core-item>
				<core-item>Paste</core-item>
		    </core-dropdown>
  		</x-trigger>
	</template>

	<script>
		Polymer({
			publish: {
				userName: ''
			}
		});
	</script>
</polymer-element>

<polymer-element name="cl-toolbar">

	<template>
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="cl-toolbar.css">

		<core-toolbar>
			<img class="logo" src="MindTapLogo.png" alt="About this Course" role="button">
	  		<div flex></div>
	  		<cl-username-dropdown class="username-dropdown" userName="{{userName}}"></cl-username-dropdown>
		  	<div class="help-toggle" role="button">?</div>
		  	<button class="app-dock-toggle"></button>
		</core-toolbar>

	</template>

	<script>
		Polymer({
			publish: {
				userName: ''
			}
		});
	</script>

</polyer-element>